<div class="blockquote">
    <div class="show">
      <p class="description">{{quote.description}}</p>
      <p>~{{quote.author}}</p>
    </div>
  <button class="btn btn-success"  id="like" (click)='likebuttonclick()'>Likes: {{quote.numberOflikes}}<i class="fa fa-thumbs-up"></i></button>
  <button class="btn btn-secondary" id="dislike" (click)='dislikebuttonclick()'>Dislikes: {{quote.numberOfdislikes}}<i class="fa fa-thumbs-down"></i></button>
  <button (click)='quoteDelete(true)' id="delete" class="btn btn-danger">Delete<i class="fa fa-trash"></i></button>
  <div class="post">
      <p>Posted: {{quote.completeDate}} days ago</p>
 </div> 
</div>


